.container-fluid
  .row.about-header
    .col-sm-12.col-md-12.col-lg-12
      %h2 About Us
      %h3 Focused. Smart. Worth it.
  .row.about-top-section
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      %h4 Smart
      %p Want to know what really works today, and how you can make it work for you? Xplode illuminates today’s best practices and the most useful technologies, so you can make your business more productive. If you’re looking for a new farming technique, social media strategy or website, get what you need from Xplode.
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      %h4 Collaborative
      %p Xplode draws the best and brightest agents and brokers and the industry’s most innovative speakers and technology companies. We build in time for you to network with everyone who attends, from your colleagues to our speakers, so you can learn, share and make the most of your investment in the conference.
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      %h4 Thought Provoking
      %p Real estate is a dynamic business. That’s why our goal isn’t just to load you up with a thousand tips (although we will do that!). At Xplode, you’ll hear about the latest industry trends from industry thought leaders that will affect your business, so you can see around the curve and prepare for what’s next.
  .row.about-description-section
    .col-xs-12.col-sm-5.col-md-5.col-lg-5.text-center
      = image_tag "about-stock-image.jpg", class: "about-stock-img"
    .col-xs-12.col-sm-7.col-md-7.col-lg-7.description
      %h4
        Built For Agents and Brokers
        %span.glyphicon.glyphicon-off.about-icon
      %p We believe that agents and brokers deserve intelligent conferences, loaded with great speakers and useful ideas. That’s why our conference forgoes sales pitches in favor of genuinely useful sessions on digital marketing, social media, predictive data and video. If you’re trying to figure out what’s next, Xplode is the conference for you.
      %h4
        Intelligently Paced
        %span.glyphicon.glyphicon-repeat.about-icon
      %p Ever been to a conference with sessions that are just too long and boring? That will never happen at Xplode. Our speakers present in 20-40 minute increments, just enough to present their topics in-depth, without droning on about what doesn’t matter to you. If you want serious content in a compressed, works-for-you format, Xplode is it.
      %h4
        Meaningful Content
        %span.glyphicon.glyphicon-star-empty.about-icon
      %p Xplode was founded in 2011 by Mat Fagioli, a broker from Atlanta, who wanted to stage a conference he would want to attend. If you know Matt, he’s the type of guy who is all-business, as well as short, sweet and to the point — just like the presentations you’ll see at Xplode. But he’s also dedicated to God and family, so you can count on Xplode’s speakers to present meaningful content that will make a difference in your business. Matt wouldn’t have it any other way.
      %h4
        Friendly Environment
        %span.glyphicon.glyphicon-heart-empty.about-icon
      %p Matt believes that Xplode is for every type of agent — whether you’re a new agent just learning the ropes, or have been in the business for 20 years, you’ll learn something new at Xplode. Matt’s mission is to enrich the lives of Xplode’s attendees (who he treats as family). That’s why the environment at an Xplode conference is welcoming and dynamic. You’ll meet all kinds of people at Xplode, who will take you to the next level in your business.
  .row.about-success-section
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      = image_tag "matt-about-photo.jpg"
      %h4 What We Do
      %p Xplode’s mission is to unite the best thought leaders in real estate with the most useful knowledge and technology available to agents and brokers across North America. That’s why we only select speakers, sponsors and partners who will add demonstrable value to the agents and brokers that attend our conferences, and leave sales pitches and puffery behind. Our association and MLS partners enable us to reach every agent and every broker in every city, while our sponsors provide both energy and expertise.
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      %h4 How We Measure Success
      %p What matters to us is what matters to the agents and brokers that attend our conferences. We closely track what you think — and consistently tweak our content so that it’s always current, on-point and genuinely useful. Each conference is localized for your city. We’re fanatical about delivering conferences that meet and exceed our attendees’ expectations. We believe we’ve cracked the code of a great event: Dynamic speakers, fast paced, lots of networking time, and genuinely interesting and useful content. That’s why nine out of 10 attendees say they’ll attend Xplode again, and some 70 percent have attended more than one of our conferences since we began in 2011. After every event, we survey our attendees. Here’s what they had to say:
      .skillbar-container
        .skillbar-section
          %h5 Was the Content Useful?
          .skillbar-background
          .skillbar-filler{ 'data-percent' => '95' }
        .skillbar-section
          %h5 Were the Speakers Dynamic?
          .skillbar-background
          .skillbar-filler{ 'data-percent' => '90' }
        .skillbar-section
          %h5 Was the Conference Boring?
          .skillbar-background
          .skillbar-filler{ 'data-percent' => '10' }
        .skillbar-section
          %h5 Would You Attend Another Xplode Event?
          .skillbar-background
          .skillbar-filler{ 'data-percent' => '88' }
  .row.about-testimonial-section
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.text-center
      %span.glyphicon.glyphicon-thumbs-up.about-thumb-icon
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %h4 This is the Conference I've Been Waiting For
      %p
        It’s safe to say that I’m a conference junkie, and I’ve been to a lot of stinkers. But not Xplode. I’ve been to three Xplodes, and each one was different. Matt really cares and personalizes the content, speakers and presentations to every city — and it shows. I get more out of Xplode than any other conference I attend, and the $99 I spend is more than worth it. In fact, if you’re in my market, stay away from Xplode. It’s my competitive advantage!
      %p
        \~ Robin White, Chicago
