// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-label {
  display: block;
  font-size: 20px;
  margin: 11px 0;
}

.about-header {
  min-height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("about-header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  > div > h2 {
    margin-top: 75px;
    margin-bottom: 0;
    font-size: 50px;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
  > div > h3 {
    margin-bottom: 0;
    font-size: 15px;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-top: 10px;
  }
}

.about-top-section {
  text-align: center;
  background-color: #FFF;
  padding: 30px 10px;
  > div {
    padding: 25px 10px;
    > h4 {
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    > p {
      color: #777777;
      padding: 15px 30px;
      line-height: 30px;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}

.about-description-section {
  background-color: #f3f3f3;
}

.about-stock-img {
  width: 100%;
  margin: 120px 0px;
  object-fit: cover;
  border-radius: 2px;
  max-width: 300px;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.about-description-section > .description {
  padding: 50px;
  padding-top: 90px;
  @media screen and (max-width: 767px) {
    padding: 75px 50px;
  }
  > h4 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 50px;
  }
  > p {
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #696969;
    padding-bottom: 50px;
  }
}

.about-icon {
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 5px;
}

.about-success-section {
  background-color: #000;
  @media screen and (max-width: 991px) {
    padding-bottom: 100px;
  }
  > div {
    text-align: center;
    padding: 100px 50px;
    @media screen and (max-width: 991px) {
      padding: 50px;
    }
    > img {
      width: 100%;
      max-width: 600px;
      border-radius: 3px;
      margin: 20px auto 75px auto;
    }
    > h4 {
      color: #f3f3f3;
      font-size: 30px;
      padding-bottom: 15px;
      font-weight: 900;
      letter-spacing: 1px;
      word-spacing: 2px;
    }
    > p {
      color: #f3f3f3;
      line-height: 30px;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}

.about-thumb-icon {
  font-size: 75px;
  color: #f3f3f3;
  padding-top: 25px;
}

.about-testimonial-section {
  background-color: #181818;
  > div {
    padding: 45px 15px;
    > h4 {
      color: #f3f3f3;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 25px;
      letter-spacing: 1px;
      word-spacing: 2px;
      line-height: 50px;
      padding: 0px 25px;
    }
    > p {
      color: #f3f3f3;
      font-size: 17px;
      letter-spacing: 1px;
      word-spacing: 2px;
      padding: 0px 30px 15px 30px;
    }
  }
}

.skillbar-container {
  margin-top: 20px;
  @media screen and (max-width: 991px) {
    margin-top: 75px;
  }
}

.skillbar-section {
  padding: 30px 15px;
  position: relative;
  > h5 {
    color: #f3f3f3;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    line-height: 35px;
  }
}

.skillbar-background {
  background: #f3f3f3;
  height: 8px;
  width: 95%;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
}

.skillbar-filler {
  height: 8px;
  background: #0275db;
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
}
